/* Impostazioni generali di Pagina */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main */

.container{
  position: relative;
  height: 100vh;
  width: 100vw;
  border: 5px solid white;
  border-radius: 40px;
}

.image{
  width: 100vw;
  height: 100vh;
  border: 5px solid white ;
  border-radius: 40px;
}

.text{
  font-family: Arial,Verdana;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sfumatura{
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
